/*header*/
header {
display: flex; 
justify-content: space-between; 
align-items: center;
width: 100%; 
padding-bottom:20px; 
}
#recherche_conteneur form {
display: flex;
align-items: center;
margin-left: 0.3em;
margin-right: -2em;
padding-right: -2em;
}
#rechercheInput{
width: 100%;
margin-right: 0.5em;
}
.row .myLogo{
padding-left: 0;
margin-left: 0;
}

/* navbar */
nav {
    font-size: 1em;
}

.row .menu{
	padding: 0;
	margin: 0;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

.menu li {
    position: relative;
    flex: 1; 
    padding: 0; 
    margin: 0; 
}

.menu a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    background-color: aliceblue;
    color: blue;
    border-right: 0.5px solid rgb(226, 226, 226);
    border-left: 0.5px solid rgb(226, 226, 226) ;
    border-top: 2px solid rgb(226, 226, 226); 
    border-bottom: 2px solid rgb(133, 133, 255); 
}

.menu > li > a {
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu > li:hover > a {
    background-color: rgb(238, 251, 255); 
    text-decoration: underline; 
}

.menu > li:hover > ul {
    display: block;
}

.menu > li > ul {
    display: none; 
    position: absolute;
    list-style: none;
    background-color: rgb(238, 251, 255);
    padding: 0;
    width: 100%; 
}

.menu ul li {
    width: 100%;
}

.menu ul li a {
    background-color: rgb(238, 251, 255); 
    border-right: none; 
    border-bottom: none;
}

.menu ul li:hover > a {
    background-color: rgb(133, 133, 255); 
}

/*fil d'ariane*/
.breadcrumbs {
    list-style-type: none; 
    padding: 10px 0; 
    margin: 0; 
    font-size: 14px;
    color: rgb(0, 0, 151);
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs li a {
    text-decoration: none; 
    color:rgb(0, 0, 151);
}
.row .breadcrumbs{
	padding-left: 0;
	margin-left: 0;
}
/*main*/
.row main ul {
    padding-left: 0;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
    margin: 0; 
}
#entete {
	background-color: #0b4b76;
	border-radius: 10px 10px 0px 0px;
}
#contenu h1 {
	background: #0b4b76;
    color: white;
    font-weight: bold;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.2em;
	border-radius: 10px 10px 0px 0px;
    padding-left: 0.2em;
}
#intro{
	font-weight:bold;
	font-size: small;
	color:#0b4b76;
	padding-top: 3px;
	padding-bottom: 6px;
}
.carte {
	background: aliceblue;
	box-shadow: 0px 3px 0px rgb(226, 226, 226);
    padding-top: 0.4em;
}
#contenu .carte:first-child{
    border-radius: 0px 0px 0px 10px;
}
#contenu .carte:last-child{
    border-radius: 0px 0px 10px 0px;;
}
.carte li{
    list-style-type: none;
    margin-top: 0.8em;
    font-size: small;
}
main a{
text-decoration: none;
color:#0E5F96;
font-weight: bold;
}
.row aside{
padding-right: 0; 
padding-left:0.5em;
    
}
/*aside*/
#contenu h3 {
padding-top: 0.6em;
padding-bottom: 0.4em;
padding-left: 0.2em;
border-radius: 10px 10px 0px 0px;
font-size: 1em;
color: white;
text-transform: uppercase;
font-weight: bold;
}
#contenu .aside2 h3{
	background: #9C2F03;
}
#contenu .aside1 h3{
	background: #0b4b76;
}
.myaside{
    background-color:aliceblue;
    margin-bottom:0.8em;
    border-radius: 10px;
    padding-bottom: 1em;
    box-shadow: 0px 3px 0px rgb(226, 226, 226);
    color:#0b4b76;

}
.myaside li{
    list-style-type: none;
}
.myaside a {
text-decoration:none;
color:#0b4b76;
font-size: small;
margin-right:4em;
text-align: left;
	
}
.myaside a:hover {
text-decoration:underline;
}
.myaside a .date{
color:#9C2F03;
font-weight: bold;
}
.liendroite{
font-weight: bold;
margin-right: -2em;
text-align: end;
}


.myaside ul {
    padding-left: 1em;
    margin: 0;
}
.aside2 ul{
	padding-right: 1em;
}

.aside1 .liendroite a {
    color: #0b4b76; /* Bleu */
}

.aside2 .liendroite a {
    color: #9C2F03; /* Rouge */
}

/*footer*/
#bas_page {
background-color:#199bdb;
color:#FFF;
font-size: small;
padding:1em;
}
#bas_page ul p {
margin-bottom: 1em;
}
#bas_page ul{
display: flex; 
flex-wrap: wrap; 
gap: 1.5em; 
}
#bas_page a {
color:#FFF;
text-decoration: none;
}
#bas_page a:hover {
text-decoration: underline; 
color: #ffffff; 
}
#bas_page ul li {
list-style-type: none;
text-align: center;
text-align: left;
padding: 0;
}
#bas_page ul li p {
font-weight:bold;
margin: 0;
margin-bottom: 0.5em;
text-align: left;
	
}

#bas_page ul ul li {
list-style: disc outside none;
color:#43BFFE;
text-align: left;    
margin-left: 1em;
}
#bas_page ul li ul {
display: block; 
margin-top: 0.5em; 
padding: 0;
margin: 0;
}
#fin_footer{
background:#042353;
clear: both;
font-size: 0.7em;
text-align: center;
letter-spacing: 1px;
border-radius: 0px 0px 8px 8px ;
padding: 1em 0;
    }
#fin_footer a {
color: #C7D6E3;
font-weight: bold;
    }



/*media query mobile*/

@media (max-width: 767.98px) {
        
    main .row > div {
        width: 100%; 
        margin-bottom: 15px; 
    }
}
@media (max-width: 767.98px) {
    nav .menu {
        display: block;
    }

    nav .menu li {
        width: 100%; 
    }

    nav .menu li:hover > ul {
        display: block;
        position: relative; 
    }
}
